section.categoty
        .container
            .category__page
                
                a(href="https://www.ulmart.ru/catalog/ofisnye_kompyutery/brand_microxperts", target="_blank")    
                    .category__item.category__item--office
                        .category__hover
                            .category__about
                                p.category__title Офисные компьютеры
                                svg.icon__arrow(version='1.1', width='80', height='40', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 61.4 32.6', enable-background='new 0 0 61.4 32.6', xml:space='preserve')
                                    path(fill='#494949', d='M33.5,9.3c-0.3-0.3-0.7-0.3-1,0c-0.3,0.3-0.3,0.7,0,0.9l4.9,4.9h-16c-0.4,0-0.7,0.3-0.7,0.7s0.3,0.7,0.7,0.7\h16l-4.9,4.8c-0.3,0.3-0.3,0.7,0,1c0.3,0.3,0.7,0.3,1,0l6-6c0.3-0.3,0.3-0.7,0-1L33.5,9.3z')
                                    path(fill='none', stroke='#494949', stroke-miterlimit='10', d='M45.3,32H16.2c-8.6,0-15.7-7-15.7-15.7v0c0-8.6,7-15.7,15.7-15.7h29.2\C54,0.7,61,7.7,61,16.3v0C61,24.9,54,32,45.3,32z')
                                p.category__text Офисные компьютеры MicroXperts созданы для решения офисных задач любой сложности. Строгий и эргономичный дизайн, бесшумность

                a(href="https://www.ulmart.ru/catalog/igrovye_kompyutery/brand_microxperts", target="_blank")
                    .category__item.category__item--red.category__item--game
                        .category__hover
                            .category__about
                                p.category__title Игровые компьютеры
                                svg.icon__arrow(version='1.1', width='80', height='40', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 61.4 32.6', enable-background='new 0 0 61.4 32.6', xml:space='preserve')
                                    path(fill='#494949', d='M33.5,9.3c-0.3-0.3-0.7-0.3-1,0c-0.3,0.3-0.3,0.7,0,0.9l4.9,4.9h-16c-0.4,0-0.7,0.3-0.7,0.7s0.3,0.7,0.7,0.7\h16l-4.9,4.8c-0.3,0.3-0.3,0.7,0,1c0.3,0.3,0.7,0.3,1,0l6-6c0.3-0.3,0.3-0.7,0-1L33.5,9.3z')
                                    path(fill='none', stroke='#494949', stroke-miterlimit='10', d='M45.3,32H16.2c-8.6,0-15.7-7-15.7-15.7v0c0-8.6,7-15.7,15.7-15.7h29.2\C54,0.7,61,7.7,61,16.3v0C61,24.9,54,32,45.3,32z')
                                p.category__text Игровые компьютеры MicroXperts являются идеальным сочетанием высокой производительности, качества и надёжности, которое позволит вам с головой окунуться в виртуальные миры любимых компьютерных игр
                
                a(href="https://www.ulmart.ru/catalog/domashnie_kompyutery/brand_microxperts", target="_blank")
                    .category__item.category__item--red.category__item--home
                        .category__hover
                            .category__about
                                p.category__title Домашние компьютеры
                                svg.icon__arrow(version='1.1', width='80', height='40', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 61.4 32.6', enable-background='new 0 0 61.4 32.6', xml:space='preserve')
                                    path(fill='#494949', d='M33.5,9.3c-0.3-0.3-0.7-0.3-1,0c-0.3,0.3-0.3,0.7,0,0.9l4.9,4.9h-16c-0.4,0-0.7,0.3-0.7,0.7s0.3,0.7,0.7,0.7\h16l-4.9,4.8c-0.3,0.3-0.3,0.7,0,1c0.3,0.3,0.7,0.3,1,0l6-6c0.3-0.3,0.3-0.7,0-1L33.5,9.3z')
                                    path(fill='none', stroke='#494949', stroke-miterlimit='10', d='M45.3,32H16.2c-8.6,0-15.7-7-15.7-15.7v0c0-8.6,7-15.7,15.7-15.7h29.2\C54,0.7,61,7.7,61,16.3v0C61,24.9,54,32,45.3,32z')
                                p.category__text Домашние компьютеры MicroXperts предназначены для выполнения повседневных задач и развлечения. Большой объем памяти позволит хранить все ваши фотографии и видео, слушать любимую музыку и смотреть фильмы в высоком разрешении

                a(href="https://www.ulmart.ru/search?string=сервре&category=88098&rootCategory=75076&discount=false&filters=active%3Ab&applied=true&brands=4079&jdSuppliers=&warranties=&bargainTypes=&receiptTime=&priceColors=&shops=&labels=&available=false&reserved=false&suborder=false&rec=false&superPrice=false&showCrossboardGoods=false&showUlmartGoods=false&specOffers=false&availableCounts=", target="_blank")
                    .category__item.category__item--red.category__item--server
                        .category__hover
                            .category__about
                                p.category__title Серверы
                                svg.icon__arrow(version='1.1', width='80', height='40', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 61.4 32.6', enable-background='new 0 0 61.4 32.6', xml:space='preserve')
                                    path(fill='#494949', d='M33.5,9.3c-0.3-0.3-0.7-0.3-1,0c-0.3,0.3-0.3,0.7,0,0.9l4.9,4.9h-16c-0.4,0-0.7,0.3-0.7,0.7s0.3,0.7,0.7,0.7\h16l-4.9,4.8c-0.3,0.3-0.3,0.7,0,1c0.3,0.3,0.7,0.3,1,0l6-6c0.3-0.3,0.3-0.7,0-1L33.5,9.3z')
                                    path(fill='none', stroke='#494949', stroke-miterlimit='10', d='M45.3,32H16.2c-8.6,0-15.7-7-15.7-15.7v0c0-8.6,7-15.7,15.7-15.7h29.2\C54,0.7,61,7.7,61,16.3v0C61,24.9,54,32,45.3,32z')
                                p.category__text Серверы MicroXperts производятся с уклоном на долгую и слаженную работу всех компонентов при высокой нагрузке

                a(href="https://www.ulmart.ru/catalog/monobloks_pc?filters=active%3Ab&applied=true&brands=4079&jdSuppliers=&warranties=&bargainTypes=&receiptTime=&priceColors=&shops=&labels=&available=false&reserved=false&suborder=false&rec=false&superPrice=false&showCrossboardGoods=false&showUlmartGoods=false&specOffers=false&availableCounts=", target="_blank")
                    .category__item.category__item--red.category__item--monoblock
                        .category__hover
                            .category__about
                                p.category__title Моноблоки
                                svg.icon__arrow(version='1.1', width='80', height='40', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 61.4 32.6', enable-background='new 0 0 61.4 32.6', xml:space='preserve')
                                    path(fill='#494949', d='M33.5,9.3c-0.3-0.3-0.7-0.3-1,0c-0.3,0.3-0.3,0.7,0,0.9l4.9,4.9h-16c-0.4,0-0.7,0.3-0.7,0.7s0.3,0.7,0.7,0.7\h16l-4.9,4.8c-0.3,0.3-0.3,0.7,0,1c0.3,0.3,0.7,0.3,1,0l6-6c0.3-0.3,0.3-0.7,0-1L33.5,9.3z')
                                    path(fill='none', stroke='#494949', stroke-miterlimit='10', d='M45.3,32H16.2c-8.6,0-15.7-7-15.7-15.7v0c0-8.6,7-15.7,15.7-15.7h29.2\C54,0.7,61,7.7,61,16.3v0C61,24.9,54,32,45.3,32z')
                                p.category__text Моноблоки MicroXperts — это устройства «All in One»: качественный экран и производительные комплектующие собраны в компактном корпусе. Это&nbsp;универсальное решение для офиса, школы или дома

                a(href="https://www.ulmart.ru/catalog/brand_computers?applied=true&extended=true&filters=39804%3A440809%3Bactive%3A39804&brands=&jdSuppliers=&warranties=&bargainTypes=&receiptTime=&priceColors=&shops=&labels=&available=false&reserved=false&suborder=false&rec=false&superPrice=false&showCrossboardGoods=false&showUlmartGoods=false&specOffers=false&availableCounts=", target="_blank")
                    .category__item.category__item--red.category__item--special
                        .category__hover
                            .category__about
                                p.category__title Особая серия
                                svg.icon__arrow(version='1.1', width='80', height='40', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 61.4 32.6', enable-background='new 0 0 61.4 32.6', xml:space='preserve')
                                    path(fill='#494949', d='M33.5,9.3c-0.3-0.3-0.7-0.3-1,0c-0.3,0.3-0.3,0.7,0,0.9l4.9,4.9h-16c-0.4,0-0.7,0.3-0.7,0.7s0.3,0.7,0.7,0.7\h16l-4.9,4.8c-0.3,0.3-0.3,0.7,0,1c0.3,0.3,0.7,0.3,1,0l6-6c0.3-0.3,0.3-0.7,0-1L33.5,9.3z')
                                    path(fill='none', stroke='#494949', stroke-miterlimit='10', d='M45.3,32H16.2c-8.6,0-15.7-7-15.7-15.7v0c0-8.6,7-15.7,15.7-15.7h29.2\C54,0.7,61,7.7,61,16.3v0C61,24.9,54,32,45.3,32z')
                                p.category__text Особая серия создана в тесном сотрудничестве с нашими партнерами: киберспортивными площадками и производителями игровых комплектующих и аксессуаров