header.header
    .container
        .header__page
            .header__logo
                a(href="https://www.ulmart.ru/dynamic/page/MicroXperts")
                    img(src=`${URL + 'mxp_logo.png'}` class="header__logo-img" alt="Mxp" width="140")
            button.header__toggle
                span Открыть меню
            nav.menu
                ul.menu__list
                    li.menu__item
                        a(href="https://www.ulmart.ru/dynamic/page/mxp-history" class="menu__link") Наша история
                    li.menu__item
                        a(href="https://www.ulmart.ru/dynamic/page/mxp-events" class="menu__link") Мероприятия
                    li.menu__item
                        a(href="https://www.ulmart.ru/dynamic/page/mxp-team" class="menu__link") Команда
                    li.menu__item
                        a(href="https://www.ulmart.ru/dynamic/page/mxp-partners" class="menu__link") Партнёры