section.tech-support
    .container
        .tech-support__page
            .tech-support__item
                .tech-support__info
                    h2.tech-support__title Соберите свой персональный компьютер на заказ
                    p.tech-support__text Напишите письмо с характеристиками компьютера и сделай заказ
                a(href="mailto:uniquemxp@ulmart.ru" class="btn btn--mail") 
                    span Написать письмо
            .tech-support__item
                .tech-support__info
                    h2.tech-support__title Техническая поддержка и&nbsp;драйвера
                    p.tech-support__text Найдите и скачайте нужные драйвера
                a(href="mxp.ulmart.ru/mxp-drivers" class="btn") Выбрать драйвер

