/*Media*/
$lg:1200px;
$md:768px;
$xs:320px;

$mobile-wrap: 280px;
$tablet-wrap: 738px;
$desktop-wrap: 1170px;


/*Color*/
$white: #ffffff;
$black: #000000;
$gray: #b4b4b4;
$gray-button: #999999;
$red: #ea2128;


$button: #e30613;
$button-hover: #d72d1e;
$button-arrow: #494949;

$menu-hover: #d72d1e;
$menu-hover: #d72d1e;
$menu-active: #d72d1e;

/*Fonts Text Desktop*/
$title: 32px; // Заголовок h1
$subtitle: 22px; // Заголовок h2
$subtitle: 18px; // Заголовок h3
$text: 16px; // основной текст

