mixin popup()
  section
    .popup--wrap
      .popup
        span.popup--cross
        .popup--check
        h3.popup--title Ваш предзаказ оформлен
        p.popup--desc Наши специалисты свяжутся с вами для уточнения деталей как только товар поступит в продажу. Спасибо, что выбрали Юлмарт!
        +a({"href":"https://www.ulmart.ru", "class":"popup--btn"}) Перейти на ulmart.ru
